http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/107?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6cb9aab63f295be908679519b2cb79c8"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.sps","bytes":5980,"sha256":"00f3a597d0b545f628e1a35ba6f041b562ed32404995fcd1c3276caae5ddc55e"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.do","bytes":10652,"sha256":"3fd5560f2499c96e0faef241a97ed8f079eb37d502636885a6c5ed8c11c0bc2c"},"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.sas","bytes":5986,"sha256":"de614800ce77095d26f06d2f16c43af992833540dad173be3f99ba6e7f2b9bbd"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.R","bytes":406,"sha256":"d5660df4443b29768c9819fcb37e6dad5c14809bd57b3771fa648e7bae097e4c"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.cbk","bytes":7235,"sha256":"c219458f28a3b74da606355bf6ca261bbd146f9b485f9e57a5184fe0cf8a73e3"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.xml","bytes":35232,"sha256":"9218c625cea5893126b8a03ec796472a2b6ded7ee5ecacbdc31297c2a41ca2f2"}},"number":107,"status":"completed"}'
  recorded_at: 2022-05-26 15:56:26 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00107.xml"; filename*=UTF-8''usa_00107.xml
      content-type: application/xml
      etag: '"628fa320-89a0"'
      last-modified: Thu, 26 May 2022 15:56:16 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00107.xml
  recorded_at: 2022-05-26 15:56:26 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1821205/usa_00107.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00107.dat.gz"; filename*=UTF-8''usa_00107.dat.gz
      content-type: application/gzip
      etag: '"628fa323-28e61"'
      last-modified: Thu, 26 May 2022 15:56:19 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00107.dat.gz
  recorded_at: 2022-05-26 15:56:26 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
