http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/86?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b948e917e5ebe017bba5c0cb3f3f4468"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.sps","bytes":5863,"sha256":"df3256c041e6261993fbf77d8483c2f269c10c67d8efc29917a36c15007b07a8"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.xml","bytes":34868,"sha256":"58f03f61db9b612f4c24494e7c66cb0ff9a5cc365c22d698581bbb4ea9531344"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.R","bytes":406,"sha256":"ce2b0de38b3fda3694dec97a5f55f24059bd097aaf2354bc39c7d480267e052e"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.do","bytes":10437,"sha256":"eb0624beb97c67a33260a2126fe5cb79d1f91e934e20066486e596d84089a878"},"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.sas","bytes":5877,"sha256":"2d6295e3ceff1d91f1332334f31cbb8e3f8f8c6a511edf34598e010d5f30b0d0"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.cbk","bytes":7096,"sha256":"11049a2858e17ee722a879815edf8d61d237b4faff395baf0683291f2a90983a"}},"number":86,"status":"completed"}'
  recorded_at: 2021-11-22 16:53:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00086.xml"; filename*=UTF-8''usa_00086.xml
      content-type: application/xml
      etag: '"619bcafa-8834"'
      last-modified: Mon, 22 Nov 2021 16:53:14 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00086.xml
  recorded_at: 2021-11-22 16:53:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1708879/usa_00086.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00086.dat.gz"; filename*=UTF-8''usa_00086.dat.gz
      content-type: application/gzip
      etag: '"619bcafd-28e61"'
      last-modified: Mon, 22 Nov 2021 16:53:17 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00086.dat.gz
  recorded_at: 2021-11-22 16:53:30 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
