http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/82?collection=usa&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7283d017a5c4e6ac811d39f78ec11430"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.xml","bytes":34868,"sha256":"09e979a05f28a6b4514ba5dbddaa284d0f59b40ed002841795649145403e7a32"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.cbk","bytes":7096,"sha256":"11049a2858e17ee722a879815edf8d61d237b4faff395baf0683291f2a90983a"},"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.sas","bytes":5877,"sha256":"681582794e792b7efc8bf3a747940b230cd65e25688a0eef84cf62f2769eb160"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.do","bytes":10437,"sha256":"4746765e3fc36cc87b36c833b35b8827e5dbef2a63295685697084751a4f81ea"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.R","bytes":406,"sha256":"8a5516e934cf5fb529165e27f5b60bb6448b968618a71e077a0befc28b5f4b5d"},"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.sps","bytes":5863,"sha256":"4c73ff56989623fd27d99c3f178f0a1dda73bdad43f2ab5ecf83ff3c61acebd4"}},"number":82,"status":"completed"}'
  recorded_at: 2021-11-11 17:57:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00082.xml"; filename*=UTF-8''usa_00082.xml
      content-type: application/xml
      etag: '"618d5997-8834"'
      last-modified: Thu, 11 Nov 2021 17:57:43 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00082.xml
  recorded_at: 2021-11-11 17:57:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1702087/usa_00082.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00082.dat.gz"; filename*=UTF-8''usa_00082.dat.gz
      content-type: application/gzip
      etag: '"618d599a-28e61"'
      last-modified: Thu, 11 Nov 2021 17:57:46 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00082.dat.gz
  recorded_at: 2021-11-11 17:57:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
