http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=beta
    body:
      encoding: ''
      string: '{"description":"Test extract","data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","samples":{"us2017b":{}},"variables":{"YEAR":{}}}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dd31f1172196f6f2c7fd06c8b88ddb08"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{},"number":112,"status":"queued"}'
  recorded_at: 2022-05-27 22:06:07 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
